*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 1140px;
    margin:0 auto;
    padding: 0 20px;
}

.top-nav{

     max-width: 1600px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-menu a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.first-big-btn{
    background-color: #469165;
    color:  #FFFFFF;
    padding: 16px ;
    border: none;
    border-radius:4px ;
    gap: 10px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.first-big-btn:hover{
    background-color: #df790c;
    transform: translate(-2px);
}

.second-button{
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.4);
    padding: 15px 30px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.second-button:hover{
    background:rgba(255, 255, 255, 0.1);;
}
.banner-display {
    background:  url("/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.status-bar{
    background: #fff;
    color: #469165;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 9px 20px;
    border-radius: 100px;
    font-size: 16px;
    margin-bottom: 20px;
}
.main-heading { font-size: 60px; font-weight: 800; line-height: 1.1; }
.sub-heading { font-size: 64px; color: #30b868; margin-bottom: 20px; }
.banner-description {
    max-width: 720px;
    margin: 0 auto 30px;
    font-size: 18px;
    opacity: 0.9;
}
.banner-buttons{
    display: flex;
    justify-content: center;
    gap:15px;
}